.App {
  text-align: center;
  justify-content: center;
  display: flex;
}

.App-container {
  margin: 10%;
  padding: 5%;
  background-color: #282c34;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(187, 17, 17);
}

.MyButton {
  padding: 3%;
  font-weight: bold;
  width: 80%;
  background-color: #0ab5e991;
}
p {
  font-size: 20px;
  margin: 30px;
}
.Logout {
  border-radius: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
}
